.metadata {
  margin-top: 24px;
}

.metadata .posted-date {
  font-size: 16px;
}

.content h2, h3 {
  margin-top: 24px;
  margin-bottom: 10px;
}

.content p {
  font-family: 'Noto Serif KR', serif;
  text-indent: 1.1em;
  line-height: 2em;
}

.content code {
  border: 1px dotted #181818;
  border-radius: 5px;
  padding: 0 4px;
  color: #6a737d;
}
